#texto-fonte-root{
    font-size: 3rem;
}

#texto-paddings-verticais{
    padding: 2em 0;
    background-color: darkorange;
}

#altura-porcentagem-comprimento{
    height: 20vw;
    background-color: darkblue;
}

#comprimento-metade-altura{
    width: 50vh;
    background-color: darkgrey;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 70%;
    /* font-size: 0.7em;  */
}

#comprimento-pai{
    background-color: darkred;
    width: 10%;
}

#altura-pai{
    height: 10%;
    background-color: darkkhaki;

}